:root {
  --theme-color: {themeColor};
  --mono0: #000000;
  --mono1: #1a1a1a;
  --mono2: #2b2b2b;
  --mono3: #3c3c3c;
  --mono4: #808080;
  --mono5: #cdcdcd;
  --mono6: #dedede;
  --mono7: #eaeaea;
  --mono8: #fafafa;
  --mono9: #ffffff;

  --width1: 2px;
  --width2: 3px;
  --radius1: 7px;
  --radius2: 11px;

  --gap1: 5px;
  --gap2: 15px;

  --text-padding: 2px 9px;
}

html {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--mono5);
  color: var(--mono0);
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100svh;
  padding: 0 var(--gap2);
  background: var(--theme-color);
  color: var(--color1);
}
