:root {
  --landing-spacing: 2em;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 3em var(--landing-spacing);
}

h1 {
  font-size: 3rem;
}

p {
  padding: var(--text-padding);
}

.cta {
  display: flex;
  margin: var(--landing-spacing);
}

.cta button {
  font-size: 1.7rem;
  background: var(--mono9);
  color: var(--color1);
  padding: 0.25em 0.4em;
  border: var(--width1) solid var(--mono9);
  border-radius: var(--radius1);
  outline: none;
}

.cta button:focus {
  background: var(--mono9);
  color: var(--color0);
  border-color: var(--mono0);
}

.cta button:disabled {
  display: none;
}

@media (max-width: 717px) {
  .hero {
    text-align: center;
  }
  .cta {
    justify-content: center;
  }
}

noscript {
  color: magenta;
  text-align: center;
}
