:root {
  --border-color: black;
  --border-width: 1px;
  --border-radius-small: 7px;
  --border-radius-large: 11px;
  --gap: 1em;
  --gap-small: 0.5em;
  --text-color: black;
  --text-padding: 2px 9px;
}

html {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: gainsboro;
  color: var(--text-color);
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100svh;
  padding: 0 var(--gap);
  background-color: ${themeColor};
  color: var(--text-color);
}

input, button, select {
  font: inherit;
  border: 1px solid white;
  line-height: 1.5;
  outline-color: var(--border-color);
  background-color: white;
  border-radius: var(--border-radius-small);
  padding: var(--text-padding);
  color: var(--text-color);
}

input:focus, button:focus {
  background-color: white;
  color: black;
}

select {
  appearance: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

label {
  padding: var(--text-padding);
}
