html {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
}
body {
  margin: 0; padding: 0;
  box-sizing: border-box;
  background-color: ${themeColor};
  color: black;
}
* {
  box-sizing: inherit;
}
